@charset "UTF-8";
 section {
            margin: 0 auto;
            width: 80%;
        }

            section #main {
            width: 100%;
            }

        #border {
            width: 600px;
            margin: 0 auto;
            margin-top: 150px;
            max-width: 500px;
            margin-top: 80px;
            margin-bottom:80px;
            padding: 32px;
            background: #fff;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
        }
        
        caption {
            font-family: 'Domine', serif;
            color: black;
            font-size: 1.7em;
            font-weight:bold;
            padding-left:20px;
        }
        .login {
            font-family: 'Domine', serif;
            text-align: center;
            font-size: 1.3em;
            color:lightgray;
        }
        table td {
            font-family: 'IBM Plex Sans KR', sans-serif;
            font-size: 1.0em;
            padding: 5px;
            padding-left: 30px;
        }

        input {
            border: 1px solid white;
            border-bottom: 2px solid lightgray;
			width: 250px;
            height: 28px;
        }
         input[type='submit'] {
                width: 330px;
                height: 35px;
                margin: 20px 60px;
                background-color: #c0acbb;
                background-color: #d1c2cd;
                background-color: #c6b3c1;
                background-color: #c2bcc0;
                background-color: #888279;
                background-color: #757169;
                color: white;
            }
            .ad{
            padding-left: 380px;
            color: lightgray;
            text-decoration: none;
            font-size: 0.8em;
            }