@charset "UTF-8";
 section {
            margin: 0 auto;
            width: 80%;
        }

            section #main {
            width: 100%;
            }

        
        caption {
            font-family: 'Domine', serif;
            color: black;
            font-size: 1.7em;
            font-weight:bold;
        }
        .name{
        	color:gray;
        	font-size:0.8em;
        }
        table{
        margin:50px auto;
        text-align: center;
        }
        table th{
        padding-left: 0px;
        }
        table td {
            font-family: 'IBM Plex Sans KR', sans-serif;
            font-size: 1.0em;
            padding: 5px;
            padding-left: 0px;
            width:300px;
        }

        input {
            border: 1px solid white;
            border-bottom: 2px solid lightgray;
            width: 260px;
            height: 28px;
            text-align: center;
        }

            input[type='submit'] {
                width: 330px;
                height: 35px;
                margin: 20px 50px;
                background-color: #757169;
                color: white;
               
            }
            .paging {text-align: center; margin-bottom: 50px;}
            .btn{
            	width:100px;
            	margin-left:10px;
            	background-color: #757169;
            	color:white;
            }
            
            #replyview #tareply{
            width:1000px;
            height:400px;
            margin: 0 auto;
            border : 1px solid red;
            }
           
           