@charset "UTF-8";
	#tableview{
	overflow:hidden;
	}
	#tacontent{
	border :1px solid black;
	float:left;
	margin:50px auto;
	margin-left:50px;
	}
	#tacontent .hall{
	width:700px;
	}
	#tacontent .heart{
	width:10px;
	padding-left:10px;
	}
	#tareserve{
	border:1px solid black;
	float:left;
	margin-top:50px;
	padding:0;
	
	}
